In [87]:
#1

#a
# ask user for input 
n = int(input("Enter a number: "))

# initialize variable 
sn = 0

# loop through 1 to n
for k in range(1, n + 1):
    # do the maths summation
    sn += (k**2) + (k/2)
    
print(f"sn = {sn}")

Enter a number:  3

sn = 17.0

In [88]:
#b

# ask user for input 
n = float(input("Enter a number: "))

# natural number means number is an integer and greater than 0
if n == int(n) and n > 0:
    n = int(n)
    print("n is a natural number")

else:
    print("n is not a natural number")

Enter a number:  3

n is a natural number

In [89]:
#c

# O(n) - linear time complexity because of the loop and time

In [90]:
#d

def s(n):
    sn = 0  
    
    for k in range(1, n + 1):
        
        sn += (k**2) + (k/2)

    return sn
#call the function
print(s(3))

17.0

In [91]:
#2

def sn_rec(n):
    # base case
    if n == 1:
        return 1.5

    # recursive case
    else:
        result = sn_rec(n - 1) + (n**2) + (n/2)
        return result

sn_rec(3)

17.0

In [92]:
#3

#a
# open the file nucleotide.txt
with open("/Users/bosslistic10/Documents/t-programming/Python/School docs/mock_exam/mock 1/nucleotides.txt", "r") as f:

    # skip the first line of the file
    next(f)

    # initialize empty dictionary
    data = {}

    # loop through the file and section the data
    for line in f:
        # strip removes whitespaces and split sections by bar |
        parts = line.strip().split("|")
        n = parts[0]
        mw = parts[1]
        am = parts[2]
        mc = parts[3]

        # update the dictionary 
        data[n] = (mw, am, mc)

    print(data)

{'ATP': ('507.2', '259.0', '15400.0'), 'CTP': ('483.2', '271.0', '9000.0'), 'GTP': ('523.2', '253.0', '13700.0'), 'UTP': ('484.2', '262.0', '10000.0'), 'dATP': ('491.2', '259.0', '15200.0'), 'dCTP': ('467.2', '271.0', '9300.0'), 'dGTP': ('507.2', '253.0', '13700.0'), 'dTTP': ('482.2', '267.0', '9600.0')}

In [93]:
#b

# use sorted method to sort dictionary by alphabetical order
sorted_by_reverse = sorted(data.items(), reverse = True)

# loop through 
for i in sorted_by_reverse:
    print(i)

('dTTP', ('482.2', '267.0', '9600.0'))
('dGTP', ('507.2', '253.0', '13700.0'))
('dCTP', ('467.2', '271.0', '9300.0'))
('dATP', ('491.2', '259.0', '15200.0'))
('UTP', ('484.2', '262.0', '10000.0'))
('GTP', ('523.2', '253.0', '13700.0'))
('CTP', ('483.2', '271.0', '9000.0'))
('ATP', ('507.2', '259.0', '15400.0'))

In [94]:
#c

# import itemgetter to be able to select a particular column
from operator import itemgetter


sorted_by_mw = sorted(data.items(), key = itemgetter(1))

for i in sorted_by_mw:
    print(i)

('dCTP', ('467.2', '271.0', '9300.0'))
('dTTP', ('482.2', '267.0', '9600.0'))
('CTP', ('483.2', '271.0', '9000.0'))
('UTP', ('484.2', '262.0', '10000.0'))
('dATP', ('491.2', '259.0', '15200.0'))
('dGTP', ('507.2', '253.0', '13700.0'))
('ATP', ('507.2', '259.0', '15400.0'))
('GTP', ('523.2', '253.0', '13700.0'))

In [95]:
#d

# import pandas to use to create dataframe
import pandas as pd

# create dataframe
df = pd.DataFrame.from_dict(data, orient = "index", columns = ["Molecular weight g/mol", "Absorbance Maximum at pH 7.0 (nm)", "Molar Extinction Coefficient at pH 7.0"])

display(df)

,Molecular weight g/mol,Absorbance Maximum at pH 7.0 (nm),Molar Extinction Coefficient at pH 7.0
ATP,507.2,259.0,15400.0
CTP,483.2,271.0,9000.0
GTP,523.2,253.0,13700.0
UTP,484.2,262.0,10000.0
dATP,491.2,259.0,15200.0
dCTP,467.2,271.0,9300.0
dGTP,507.2,253.0,13700.0
dTTP,482.2,267.0,9600.0

In [96]:
#e

t = df.transpose()
display(t)

,ATP,CTP,GTP,UTP,dATP,dCTP,dGTP,dTTP
Molecular weight g/mol,507.2,483.2,523.2,484.2,491.2,467.2,507.2,482.2
Absorbance Maximum at pH 7.0 (nm),259.0,271.0,253.0,262.0,259.0,271.0,253.0,267.0
Molar Extinction Coefficient at pH 7.0,15400.0,9000.0,13700.0,10000.0,15200.0,9300.0,13700.0,9600.0

In [97]:
#4

s= "AGCTTTTCGTAC"

# read the csv file dataframe.csv
df = pd.read_csv("/Users/bosslistic10/Documents/t-programming/Python/School docs/mock_exam/mock 1/dataframe.csv.txt", sep = "\t", index_col = 0)

display(df)

# initialize variable add 
add = 0

# loop through s 
for i in s:
    # use the df.loc to locate each nucleotides weight 
    add += df.loc[i, "Weight"]

# minus 18 from the total bonds 
minus = 18 * (len(s) - 1)

final_weight = add - minus

print(f"Molecular weight of ssDNA: {final_weight:.1f}g/mol")

      Weight
Base
A     313.21
T     304.20
C     289.18
G     329.21

Molecular weight of ssDNA: 3475.4g/mol

In [98]:
#5

#a

s = "MLYITMLWVM"
s_dict = {}

# loop through the position with minus 1 to not skip the last nucleotide
for i in range(len(s) - 1):
    # slice the string in twos
    counter_s = s[i:i + 2]

    # check if nucleotide in s is in the dictionary already if not add the value as 1
    if counter_s not in s_dict:
        s_dict[counter_s] = 1
    # if it is already in the dictionary increase by 1
    else:
        s_dict[counter_s] += 1

print(s_dict)

{'ML': 2, 'LY': 1, 'YI': 1, 'IT': 1, 'TM': 1, 'LW': 1, 'WV': 1, 'VM': 1}

In [99]:
#b

t = "GIYITMLW"

t_dict = {}


for i in range(len(t) - 1):
    counter_t = t[i:i + 2]

    if counter_t not in t_dict:
        t_dict[counter_t] = 1

    else:
        s_dict[counter_t] += 1

print(t_dict)

for counter_s in s_dict:
    if counter_s in t_dict:
        print(f"2-mer {counter_s} of s ({s_dict[counter_s]}x) also present in t ({t_dict[counter_t]}x)")

{'GI': 1, 'IY': 1, 'YI': 1, 'IT': 1, 'TM': 1, 'ML': 1, 'LW': 1}
2-mer ML of s (2x) also present in t (1x)
2-mer YI of s (1x) also present in t (1x)
2-mer IT of s (1x) also present in t (1x)
2-mer TM of s (1x) also present in t (1x)
2-mer LW of s (1x) also present in t (1x)

In [ ]:
"""
programming 1st exam 

"""

In [2]:
#1

#a

po, r, t = float(input("Enter the Po: ")), float(input("Enter the rate: ")), int(input("Enter the time: "))

pt = 0 

for i in range(1, t + 1):
    
    pt += po * (r ** i)


#b 

print(f"Pt = {pt:.2f}")

Enter the Po:  100
Enter the rate:  1.1
Enter the time:  5

Pt = 671.56

In [ ]:
#c 
# the runtime complexity is O(n) linear time complexity because of the loops and time

In [22]:
#d

def pt_rec(po, r, t, h):
    
    if t == 0:
        return 0

    elif t % h == 1:
        return (pt_rec(po, r, t - 1, h) + po) * r

    else:
        return pt_rec(po , r, t - 1, h) * r
pt = pt_rec(100, 1.1, 3, 2)
print(f"{pt:.2f}")

243.10

In [39]:
#2

#a

with open ("/Users/bosslistic10/Documents/t-programming/Python/School docs/mock_exam/mock 2/genetic_code.txt", "r") as f:

    next(f)
    next(f)
    #file = f.readlines()
    #print(file)
    
    data = {}
    
    for line in f:
        parts = line.strip().split("\t")
        b1 = parts[0]
        b2 = parts[1]
        b3 = parts[2]
        aa = parts[3]

        data[(b1, b2, b3)] = aa 
    print(data)

{('P', 'C', 'C'): 'T', ('T', 'A', 'C'): 'T', ('A', 'G', 'C'): 'T', ('H', 'C', 'A'): 'T', ('N', 'A', 'A'): 'T', ('D', 'G', 'A'): 'T', ('Q', 'C', 'A'): 'G', ('K', 'A', 'A'): 'G', ('E', 'G', 'A'): 'G', ('R', 'C', 'G'): 'T', ('S', 'A', 'G'): 'T', ('G', 'G', 'G'): 'T', ('R', 'A', 'G'): 'G', ('F', 'T', 'T'): 'C', ('L', 'C', 'T'): 'G', ('I', 'A', 'T'): 'A', ('V', 'G', 'T'): 'G', ('L', 'T', 'T'): 'G', ('M', 'A', 'T'): 'G', ('S', 'T', 'C'): 'G', ('Y', 'T', 'A'): 'C', ('*', 'T', 'A'): 'G', ('C', 'T', 'G'): 'C', ('*', 'T', 'G'): 'A', ('W', 'T', 'G'): 'G'}

In [44]:
#b

sorted_by_bases = sorted(data.items())

for i in sorted_by_bases:
    print(i)

(('*', 'T', 'A'), 'G')
(('*', 'T', 'G'), 'A')
(('A', 'G', 'C'), 'T')
(('C', 'T', 'G'), 'C')
(('D', 'G', 'A'), 'T')
(('E', 'G', 'A'), 'G')
(('F', 'T', 'T'), 'C')
(('G', 'G', 'G'), 'T')
(('H', 'C', 'A'), 'T')
(('I', 'A', 'T'), 'A')
(('K', 'A', 'A'), 'G')
(('L', 'C', 'T'), 'G')
(('L', 'T', 'T'), 'G')
(('M', 'A', 'T'), 'G')
(('N', 'A', 'A'), 'T')
(('P', 'C', 'C'), 'T')
(('Q', 'C', 'A'), 'G')
(('R', 'A', 'G'), 'G')
(('R', 'C', 'G'), 'T')
(('S', 'A', 'G'), 'T')
(('S', 'T', 'C'), 'G')
(('T', 'A', 'C'), 'T')
(('V', 'G', 'T'), 'G')
(('W', 'T', 'G'), 'G')
(('Y', 'T', 'A'), 'C')

In [47]:
#c 
from operator import itemgetter

sorted_by_aminoacids = sorted(data.items(), key = itemgetter(1))

for i in sorted_by_aminoacids:
    print(i)

(('I', 'A', 'T'), 'A')
(('*', 'T', 'G'), 'A')
(('F', 'T', 'T'), 'C')
(('Y', 'T', 'A'), 'C')
(('C', 'T', 'G'), 'C')
(('Q', 'C', 'A'), 'G')
(('K', 'A', 'A'), 'G')
(('E', 'G', 'A'), 'G')
(('R', 'A', 'G'), 'G')
(('L', 'C', 'T'), 'G')
(('V', 'G', 'T'), 'G')
(('L', 'T', 'T'), 'G')
(('M', 'A', 'T'), 'G')
(('S', 'T', 'C'), 'G')
(('*', 'T', 'A'), 'G')
(('W', 'T', 'G'), 'G')
(('P', 'C', 'C'), 'T')
(('T', 'A', 'C'), 'T')
(('A', 'G', 'C'), 'T')
(('H', 'C', 'A'), 'T')
(('N', 'A', 'A'), 'T')
(('D', 'G', 'A'), 'T')
(('R', 'C', 'G'), 'T')
(('S', 'A', 'G'), 'T')
(('G', 'G', 'G'), 'T')

In [73]:
#d
datalist = []

for i, j in data.items():
    base = [i[0], i[1], i[2], j]
    

    datalist.append(base)

#print(datalist)



import pandas as pd

df = pd.DataFrame(datalist, columns = ["Base 1", "Base 2", "Base 3", "aa"])

df.index = df["Base 1"] + df["Base 2"] + df["Base 3"]

display(df)

    Base 1 Base 2 Base 3 aa
PCC      P      C      C  T
TAC      T      A      C  T
AGC      A      G      C  T
HCA      H      C      A  T
NAA      N      A      A  T
DGA      D      G      A  T
QCA      Q      C      A  G
KAA      K      A      A  G
EGA      E      G      A  G
RCG      R      C      G  T
SAG      S      A      G  T
GGG      G      G      G  T
RAG      R      A      G  G
FTT      F      T      T  C
LCT      L      C      T  G
IAT      I      A      T  A
VGT      V      G      T  G
LTT      L      T      T  G
MAT      M      A      T  G
STC      S      T      C  G
YTA      Y      T      A  C
*TA      *      T      A  G
CTG      C      T      G  C
*TG      *      T      G  A
WTG      W      T      G  G

In [91]:
#3

df1 = pd.read_csv("/Users/bosslistic10/Documents/t-programming/Python/School docs/mock_exam/mock 2/dataframe.csv.txt", sep = "\t", index_col = 0)

print(df1)

s = "ATGGTGGAACTA"
aa = ""

for i in range(0,len(s)-2, 3):
    count = s[i:i + 3]

    if count in df.index:
        aa += df.loc[count, "Amino acid"]

print(aa)

    Base 1 Base 2 Base 3 Amino acid
CCC      C      C      C          P
ACC      A      C      C          T
GCC      G      C      C          A
CCA      C      C      A          P
ACA      A      C      A          T
..     ...    ...    ...        ...
AGT      A      G      T          S
GGT      G      G      T          G
TGC      T      G      C          C
TGA      T      G      A          *
TGG      T      G      G          W

[64 rows x 4 columns]
MVEL